# Case Study on Testing of Hypothesis
A company started to invest in digital marketing as a new way of their product promotions.For that they collected data and decided to carry out a study on it.

In [74]:
# Importing the required libraries

import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [75]:
# Loading the CSV file into the pandas dataframe.

data= pd.read_csv('Sales_add.csv')
data

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402
5,Month-6,Region - A,Manager - B,137163,256948
6,Month-7,Region - C,Manager - C,130625,222106
7,Month-8,Region - A,Manager - A,131140,230637
8,Month-9,Region - B,Manager - C,171259,226261
9,Month-10,Region - C,Manager - B,141956,193735
10,Month-11,Region - B,Manager - C,159339,203175
11,Month-12,Region - A,Manager - A,178939,276279
12,Month-13,Region - B,Manager - A,145062,205180
13,Month-14,Region - A,Manager - A,151514,253131
14,Month-15,Region - C,Manager - A,147463,229336
15,Month-16,Region - A,Manager - B,177195,187305
16,Month-17,Region - A,Manager - C,140862,234908
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

# ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [76]:
# use describe funtion to find the descriptive statistics of columns.

data_describe = data.describe()
data_describe

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

# Hypothesis:

Null Hypothesis H0 :There is no increase in Sales after stepping into digital marketing

Alternative Hypothesis H1:There is increase in sales after stepping into digital marketing

In [77]:
#finding t test & p value using ttest
#t-test can be done using the scipy function stats.ttest_rel()

ttest,pval = stats.ttest_rel(data['Sales_before_digital_add(in $)'], data['Sales_After_digital_add(in $)'])
print('t test value is :', ttest)
print('p value is :',pval)

t test value is : -12.09070525287017
p value is : 6.336667004575778e-11

In [78]:
# calculating the critical value
# alpha = 0.05
# degree of freedom dof = 22-1
# critical_value= scipy.statst.ppf(1.0 - alpha, df)

critical_value =  scipy.stats.t.ppf(q=1-0.05,df=21)
critical_value

1.7207429028118775

In [79]:
if abs(ttest) > abs(critical_value) and pval < 0.05:
    print("Reject the Null Hypothesis H0")
else:
    print("Reject the Alternative Hypothesis H1")

Reject the Null Hypothesis H0

# Conclusion:
    There is an increase in sales after stepping into digital marketing, so the Null hypothesis rejected.

# ● The company needs to check whether there is any dependency between the features “Region” and “Manager”.

# Hypothesis:

Null Hypothesis H0:The features 'Region' and 'Manager'are not dependent.

Alternative Hypothesis H1:The features 'Region' and 'Manager'are dependent.

In [80]:
data_check = data.groupby('Region')['Manager'].value_counts().unstack()
data_check

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [81]:
# chi-squared test can be calculated in Python using the chi2_contingency() SciPy function.
#chi2: The test statistic, p: The p-value of the test, dof: Degrees of freedom
#expected: The expected frequencies, based on the marginal sums of the table

chi2,p,dof,expected = stats.chi2_contingency(data_check)

In [89]:
chi2
print("chi2 value is",chi2)

chi2 value is 3.050566893424036

In [90]:
p
print("p value is",p)

p value is 0.5493991051158094

In [91]:
dof
print("dof value is",dof)

dof value is 4

In [85]:
expected

array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]])

In [92]:
chi2_critical_value = stats.chi2.ppf(1-0.05,4)
chi2_critical_value

9.487729036781154

In [93]:
if chi2 > chi2_critical_value and p < 0.05 :
    print("Reject Null Hypothesis H0")
else:
    print("Reject the Alternative Hypothesis H1")

Reject the Alternative Hypothesis H1

# Conclusion:
 According to the finding that the variables are independent (fail to reject H0). So we can conclude that there is no dependency between the features “Region” and “Manager”. So it Rejects the Alternative Hypothesis H1.